
.row {
    display: flex;
}

.col-1 {
    width: calc(1*8.333%);
}

.col-2 {
    width: calc(2*8.333%);
}

.col-3 {
    width: calc(3*8.333%);
}

.col-4 {
    width: calc(4*8.333%);
}

.col-5 {
    width: calc(5*8.333%);
}

.col-6 {
    width: calc(6*8.333%);
}

.col-7 {
    width: calc(7*8.333%);
}

.col-7 {
    width: calc(7*8.333%);
}

.col-8 {
    width: calc(8*8.333%);
}

.col-9 {
    width: calc(9*8.333%);
}

.col-10 {
    width: calc(10*8.333%);
}

.col-11 {
    width: calc(11*8.333%);
}

.col-12 {
    width: calc(100%);
}

[class*="col-"] {
    border: 1px solid red;
    overflow: auto;
}

.container{
    width: 97%;
    margin: auto;
}


/* Small Devices or Mobiles */
@media only screen and (max-width: 768px) {
   [class*="col-"]{
       width: 100%;
   }
   .row{
       display: block;
   }
}
